.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.911000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.922000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.738000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{display:inline;margin-left:-3.120020px;}
._3{display:inline;margin-left:-1.275726px;}
._2{display:inline-block;width:1.222415px;}
._5{display:inline-block;width:9.170902px;}
._0{display:inline-block;width:10.297883px;}
._1{display:inline-block;width:11.843849px;}
._a{display:inline-block;width:13.362270px;}
._6{display:inline-block;width:14.418362px;}
._4{display:inline-block;width:16.136691px;}
._b{display:inline-block;width:17.550626px;}
._e{display:inline-block;width:18.900773px;}
._15{display:inline-block;width:20.404697px;}
._7{display:inline-block;width:21.844690px;}
._12{display:inline-block;width:22.900733px;}
._9{display:inline-block;width:23.902628px;}
._11{display:inline-block;width:25.810158px;}
._f{display:inline-block;width:28.723542px;}
._10{display:inline-block;width:30.803636px;}
._17{display:inline-block;width:35.733946px;}
._13{display:inline-block;width:37.537756px;}
._14{display:inline-block;width:40.759392px;}
._8{display:inline-block;width:44.763065px;}
._c{display:inline-block;width:47.475889px;}
._16{display:inline-block;width:63.500417px;}
._18{display:inline-block;width:1013.418800px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:99.148400px;}
.y27{bottom:96.054000px;}
.y18{bottom:121.255100px;}
.y17{bottom:133.210200px;}
.y16{bottom:145.164900px;}
.y15{bottom:157.120000px;}
.y14{bottom:169.075100px;}
.y13{bottom:181.031000px;}
.y12{bottom:192.986100px;}
.y11{bottom:204.941200px;}
.y10{bottom:228.274000px;}
.y23{bottom:241.568000px;}
.y0{bottom:245.000000px;}
.y22{bottom:253.523100px;}
.y21{bottom:265.478200px;}
.y20{bottom:277.434100px;}
.y1f{bottom:289.389200px;}
.y1e{bottom:313.299000px;}
.yf{bottom:314.931000px;}
.y19{bottom:330.000000px;}
.ye{bottom:404.664100px;}
.yd{bottom:416.619200px;}
.yc{bottom:428.574300px;}
.yb{bottom:440.530200px;}
.ya{bottom:452.485300px;}
.y9{bottom:464.440000px;}
.y1d{bottom:497.669700px;}
.y1c{bottom:509.624800px;}
.y1b{bottom:521.579900px;}
.y1a{bottom:533.535000px;}
.y8{bottom:557.549000px;}
.y26{bottom:563.596000px;}
.y25{bottom:575.551100px;}
.y24{bottom:627.357000px;}
.y7{bottom:647.281800px;}
.y6{bottom:659.236900px;}
.y5{bottom:671.191600px;}
.y4{bottom:683.147900px;}
.y3{bottom:695.103000px;}
.y2{bottom:707.058100px;}
.y1{bottom:735.021000px;}
.h3{height:27.656178px;}
.h2{height:28.094532px;}
.h6{height:28.532886px;}
.h5{height:68.908138px;}
.h1{height:387.000000px;}
.h4{height:387.500000px;}
.h0{height:841.890000px;}
.w2{width:275.500000px;}
.w1{width:283.500000px;}
.w0{width:595.280000px;}
.x3{left:99.895000px;}
.x2{left:114.839000px;}
.x0{left:127.500000px;}
.x5{left:130.945000px;}
.x4{left:132.606000px;}
.x8{left:150.705000px;}
.xb{left:165.649000px;}
.x7{left:182.500000px;}
.x6{left:212.321000px;}
.xa{left:269.260000px;}
.x9{left:273.979000px;}
.x1{left:438.625000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{display:inline;margin-left:-4.160026pt;}
._3{display:inline;margin-left:-1.700968pt;}
._2{display:inline-block;width:1.629887pt;}
._5{display:inline-block;width:12.227870pt;}
._0{display:inline-block;width:13.730510pt;}
._1{display:inline-block;width:15.791799pt;}
._a{display:inline-block;width:17.816360pt;}
._6{display:inline-block;width:19.224482pt;}
._4{display:inline-block;width:21.515589pt;}
._b{display:inline-block;width:23.400835pt;}
._e{display:inline-block;width:25.201030pt;}
._15{display:inline-block;width:27.206263pt;}
._7{display:inline-block;width:29.126253pt;}
._12{display:inline-block;width:30.534310pt;}
._9{display:inline-block;width:31.870171pt;}
._11{display:inline-block;width:34.413544pt;}
._f{display:inline-block;width:38.298056pt;}
._10{display:inline-block;width:41.071515pt;}
._17{display:inline-block;width:47.645261pt;}
._13{display:inline-block;width:50.050342pt;}
._14{display:inline-block;width:54.345856pt;}
._8{display:inline-block;width:59.684087pt;}
._c{display:inline-block;width:63.301186pt;}
._16{display:inline-block;width:84.667223pt;}
._18{display:inline-block;width:1351.225067pt;}
.fs0{font-size:53.133867pt;}
.fs1{font-size:132.197867pt;}
.y27{bottom:128.072000pt;}
.y18{bottom:161.673467pt;}
.y17{bottom:177.613600pt;}
.y16{bottom:193.553200pt;}
.y15{bottom:209.493333pt;}
.y14{bottom:225.433467pt;}
.y13{bottom:241.374667pt;}
.y12{bottom:257.314800pt;}
.y11{bottom:273.254933pt;}
.y10{bottom:304.365333pt;}
.y23{bottom:322.090667pt;}
.y0{bottom:326.666667pt;}
.y22{bottom:338.030800pt;}
.y21{bottom:353.970933pt;}
.y20{bottom:369.912133pt;}
.y1f{bottom:385.852267pt;}
.y1e{bottom:417.732000pt;}
.yf{bottom:419.908000pt;}
.y19{bottom:440.000000pt;}
.ye{bottom:539.552133pt;}
.yd{bottom:555.492267pt;}
.yc{bottom:571.432400pt;}
.yb{bottom:587.373600pt;}
.ya{bottom:603.313733pt;}
.y9{bottom:619.253333pt;}
.y1d{bottom:663.559600pt;}
.y1c{bottom:679.499733pt;}
.y1b{bottom:695.439867pt;}
.y1a{bottom:711.380000pt;}
.y8{bottom:743.398667pt;}
.y26{bottom:751.461333pt;}
.y25{bottom:767.401467pt;}
.y24{bottom:836.476000pt;}
.y7{bottom:863.042400pt;}
.y6{bottom:878.982533pt;}
.y5{bottom:894.922133pt;}
.y4{bottom:910.863867pt;}
.y3{bottom:926.804000pt;}
.y2{bottom:942.744133pt;}
.y1{bottom:980.028000pt;}
.h3{height:36.874903pt;}
.h2{height:37.459376pt;}
.h6{height:38.043849pt;}
.h5{height:91.877517pt;}
.h1{height:516.000000pt;}
.h4{height:516.666667pt;}
.h0{height:1122.520000pt;}
.w2{width:367.333333pt;}
.w1{width:378.000000pt;}
.w0{width:793.706667pt;}
.x3{left:133.193333pt;}
.x2{left:153.118667pt;}
.x0{left:170.000000pt;}
.x5{left:174.593333pt;}
.x4{left:176.808000pt;}
.x8{left:200.940000pt;}
.xb{left:220.865333pt;}
.x7{left:243.333333pt;}
.x6{left:283.094667pt;}
.xa{left:359.013333pt;}
.x9{left:365.305333pt;}
.x1{left:584.833333pt;}
}
