.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.882000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.711000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.706000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.646715,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.646715,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.646715,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.866348,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.866348,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.866348,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{display:inline;margin-left:-1.064161px;}
._3{display:inline-block;width:13.301944px;}
._0{display:inline-block;width:15.321773px;}
._1{display:inline-block;width:17.742824px;}
._6{display:inline-block;width:34.445024px;}
._4{display:inline-block;width:37.537756px;}
._5{display:inline-block;width:39.849802px;}
._7{display:inline-block;width:64.084424px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs3{font-size:99.148400px;}
.fs1{font-size:798.456000px;}
.fs2{font-size:958.156000px;}
.y11{bottom:96.054100px;}
.y0{bottom:118.000000px;}
.y8{bottom:121.255000px;}
.y7{bottom:232.565000px;}
.y6{bottom:254.043000px;}
.ye{bottom:333.604000px;}
.y9{bottom:352.000000px;}
.yd{bottom:355.522000px;}
.y5{bottom:374.472000px;}
.yc{bottom:476.390000px;}
.y4{bottom:485.782000px;}
.y3{bottom:507.260000px;}
.y10{bottom:575.551100px;}
.yb{bottom:588.581000px;}
.ya{bottom:610.498000px;}
.yf{bottom:627.357000px;}
.y2{bottom:627.688000px;}
.y1{bottom:735.021000px;}
.h2{height:26.978721px;}
.h5{height:27.895280px;}
.h7{height:69.403880px;}
.h6{height:365.000000px;}
.h3{height:540.554712px;}
.h1{height:599.000000px;}
.h4{height:648.671612px;}
.h0{height:841.890000px;}
.w1{width:283.500000px;}
.w2{width:284.000000px;}
.w0{width:595.280000px;}
.xb{left:99.894900px;}
.x0{left:130.000000px;}
.x3{left:133.402000px;}
.x7{left:150.705000px;}
.x6{left:180.500000px;}
.x8{left:184.211000px;}
.x2{left:185.689000px;}
.x5{left:218.409000px;}
.x4{left:222.560000px;}
.xa{left:236.498000px;}
.x9{left:269.219000px;}
.x1{left:438.625000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{display:inline;margin-left:-1.418881pt;}
._3{display:inline-block;width:17.735925pt;}
._0{display:inline-block;width:20.429030pt;}
._1{display:inline-block;width:23.657098pt;}
._6{display:inline-block;width:45.926699pt;}
._4{display:inline-block;width:50.050342pt;}
._5{display:inline-block;width:53.133070pt;}
._7{display:inline-block;width:85.445899pt;}
.fs0{font-size:53.133867pt;}
.fs3{font-size:132.197867pt;}
.fs1{font-size:1064.608000pt;}
.fs2{font-size:1277.541333pt;}
.y11{bottom:128.072133pt;}
.y0{bottom:157.333333pt;}
.y8{bottom:161.673333pt;}
.y7{bottom:310.086667pt;}
.y6{bottom:338.724000pt;}
.ye{bottom:444.805333pt;}
.y9{bottom:469.333333pt;}
.yd{bottom:474.029333pt;}
.y5{bottom:499.296000pt;}
.yc{bottom:635.186667pt;}
.y4{bottom:647.709333pt;}
.y3{bottom:676.346667pt;}
.y10{bottom:767.401467pt;}
.yb{bottom:784.774667pt;}
.ya{bottom:813.997333pt;}
.yf{bottom:836.476000pt;}
.y2{bottom:836.917333pt;}
.y1{bottom:980.028000pt;}
.h2{height:35.971628pt;}
.h5{height:37.193707pt;}
.h7{height:92.538507pt;}
.h6{height:486.666667pt;}
.h3{height:720.739616pt;}
.h1{height:798.666667pt;}
.h4{height:864.895483pt;}
.h0{height:1122.520000pt;}
.w1{width:378.000000pt;}
.w2{width:378.666667pt;}
.w0{width:793.706667pt;}
.xb{left:133.193200pt;}
.x0{left:173.333333pt;}
.x3{left:177.869333pt;}
.x7{left:200.940000pt;}
.x6{left:240.666667pt;}
.x8{left:245.614667pt;}
.x2{left:247.585333pt;}
.x5{left:291.212000pt;}
.x4{left:296.746667pt;}
.xa{left:315.330667pt;}
.x9{left:358.958667pt;}
.x1{left:584.833333pt;}
}
