.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.911000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.922000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.738000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{display:inline;margin-left:-2.653110px;}
._6{display:inline;margin-left:-1.015056px;}
._2{display:inline-block;width:1.181298px;}
._17{display:inline-block;width:9.141554px;}
._e{display:inline-block;width:10.459708px;}
._0{display:inline-block;width:11.652597px;}
._1{display:inline-block;width:12.923342px;}
._3{display:inline-block;width:14.653166px;}
._4{display:inline-block;width:16.443082px;}
._9{display:inline-block;width:17.522644px;}
._c{display:inline-block;width:18.928754px;}
._13{display:inline-block;width:20.301378px;}
._7{display:inline-block;width:22.985354px;}
._5{display:inline-block;width:25.402687px;}
._10{display:inline-block;width:26.507351px;}
._d{display:inline-block;width:28.723542px;}
._f{display:inline-block;width:31.061413px;}
._15{display:inline-block;width:35.733946px;}
._11{display:inline-block;width:37.537756px;}
._12{display:inline-block;width:40.759392px;}
._8{display:inline-block;width:44.762363px;}
._a{display:inline-block;width:47.616356px;}
._14{display:inline-block;width:63.763682px;}
._16{display:inline-block;width:1013.418800px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:99.148400px;}
.y27{bottom:96.054000px;}
.y17{bottom:121.255100px;}
.y16{bottom:133.210200px;}
.y15{bottom:145.164900px;}
.y14{bottom:157.120000px;}
.y13{bottom:169.075100px;}
.y12{bottom:181.031000px;}
.y11{bottom:192.986100px;}
.y10{bottom:215.747000px;}
.y23{bottom:229.612600px;}
.y0{bottom:232.500000px;}
.y22{bottom:241.567700px;}
.y21{bottom:253.522800px;}
.y20{bottom:265.477900px;}
.y1f{bottom:277.433800px;}
.y1e{bottom:301.344000px;}
.yf{bottom:302.403800px;}
.y18{bottom:318.000000px;}
.ye{bottom:391.565100px;}
.yd{bottom:403.519800px;}
.yc{bottom:415.476100px;}
.yb{bottom:427.431200px;}
.ya{bottom:439.385900px;}
.y9{bottom:451.341000px;}
.y1d{bottom:485.714600px;}
.y1c{bottom:497.669700px;}
.y1b{bottom:509.624800px;}
.y1a{bottom:521.579900px;}
.y19{bottom:533.535000px;}
.y8{bottom:543.878200px;}
.y26{bottom:563.596000px;}
.y25{bottom:575.551100px;}
.y24{bottom:627.357000px;}
.y7{bottom:633.039900px;}
.y6{bottom:644.995000px;}
.y2d{bottom:647.281800px;}
.y5{bottom:656.950100px;}
.y2c{bottom:659.236900px;}
.y4{bottom:668.905200px;}
.y2b{bottom:671.191600px;}
.y3{bottom:680.860300px;}
.y2a{bottom:683.147900px;}
.y2{bottom:692.815000px;}
.y29{bottom:695.103000px;}
.y28{bottom:707.058100px;}
.y1{bottom:735.021000px;}
.h3{height:27.656178px;}
.h2{height:28.094532px;}
.h6{height:28.532886px;}
.h5{height:68.908138px;}
.h4{height:399.500000px;}
.h1{height:485.000000px;}
.h0{height:841.890000px;}
.w2{width:275.500000px;}
.w1{width:296.500000px;}
.w0{width:595.280000px;}
.x2{left:99.894900px;}
.x0{left:114.500000px;}
.x4{left:130.944900px;}
.x3{left:132.605900px;}
.x7{left:150.705000px;}
.xa{left:165.649000px;}
.x6{left:182.500000px;}
.x5{left:212.321000px;}
.x9{left:269.260000px;}
.x8{left:273.979000px;}
.x1{left:438.625000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{display:inline;margin-left:-3.537480pt;}
._6{display:inline;margin-left:-1.353408pt;}
._2{display:inline-block;width:1.575065pt;}
._17{display:inline-block;width:12.188739pt;}
._e{display:inline-block;width:13.946277pt;}
._0{display:inline-block;width:15.536796pt;}
._1{display:inline-block;width:17.231123pt;}
._3{display:inline-block;width:19.537555pt;}
._4{display:inline-block;width:21.924109pt;}
._9{display:inline-block;width:23.363526pt;}
._c{display:inline-block;width:25.238339pt;}
._13{display:inline-block;width:27.068504pt;}
._7{display:inline-block;width:30.647139pt;}
._5{display:inline-block;width:33.870249pt;}
._10{display:inline-block;width:35.343134pt;}
._d{display:inline-block;width:38.298056pt;}
._f{display:inline-block;width:41.415218pt;}
._15{display:inline-block;width:47.645261pt;}
._11{display:inline-block;width:50.050342pt;}
._12{display:inline-block;width:54.345856pt;}
._8{display:inline-block;width:59.683151pt;}
._a{display:inline-block;width:63.488475pt;}
._14{display:inline-block;width:85.018243pt;}
._16{display:inline-block;width:1351.225067pt;}
.fs0{font-size:53.133867pt;}
.fs1{font-size:132.197867pt;}
.y27{bottom:128.072000pt;}
.y17{bottom:161.673467pt;}
.y16{bottom:177.613600pt;}
.y15{bottom:193.553200pt;}
.y14{bottom:209.493333pt;}
.y13{bottom:225.433467pt;}
.y12{bottom:241.374667pt;}
.y11{bottom:257.314800pt;}
.y10{bottom:287.662667pt;}
.y23{bottom:306.150133pt;}
.y0{bottom:310.000000pt;}
.y22{bottom:322.090267pt;}
.y21{bottom:338.030400pt;}
.y20{bottom:353.970533pt;}
.y1f{bottom:369.911733pt;}
.y1e{bottom:401.792000pt;}
.yf{bottom:403.205067pt;}
.y18{bottom:424.000000pt;}
.ye{bottom:522.086800pt;}
.yd{bottom:538.026400pt;}
.yc{bottom:553.968133pt;}
.yb{bottom:569.908267pt;}
.ya{bottom:585.847867pt;}
.y9{bottom:601.788000pt;}
.y1d{bottom:647.619467pt;}
.y1c{bottom:663.559600pt;}
.y1b{bottom:679.499733pt;}
.y1a{bottom:695.439867pt;}
.y19{bottom:711.380000pt;}
.y8{bottom:725.170933pt;}
.y26{bottom:751.461333pt;}
.y25{bottom:767.401467pt;}
.y24{bottom:836.476000pt;}
.y7{bottom:844.053200pt;}
.y6{bottom:859.993333pt;}
.y2d{bottom:863.042400pt;}
.y5{bottom:875.933467pt;}
.y2c{bottom:878.982533pt;}
.y4{bottom:891.873600pt;}
.y2b{bottom:894.922133pt;}
.y3{bottom:907.813733pt;}
.y2a{bottom:910.863867pt;}
.y2{bottom:923.753333pt;}
.y29{bottom:926.804000pt;}
.y28{bottom:942.744133pt;}
.y1{bottom:980.028000pt;}
.h3{height:36.874903pt;}
.h2{height:37.459376pt;}
.h6{height:38.043849pt;}
.h5{height:91.877517pt;}
.h4{height:532.666667pt;}
.h1{height:646.666667pt;}
.h0{height:1122.520000pt;}
.w2{width:367.333333pt;}
.w1{width:395.333333pt;}
.w0{width:793.706667pt;}
.x2{left:133.193200pt;}
.x0{left:152.666667pt;}
.x4{left:174.593200pt;}
.x3{left:176.807867pt;}
.x7{left:200.940000pt;}
.xa{left:220.865333pt;}
.x6{left:243.333333pt;}
.x5{left:283.094667pt;}
.x9{left:359.013333pt;}
.x8{left:365.305333pt;}
.x1{left:584.833333pt;}
}
